<!--<div class="split left">
  <div class="centered">
    <a routerLink="/first">Go to First</a>
    <hr>
    <a routerLink="/second">Go to Second</a>
    <hr>
    <a routerLink="/third">Go to Third</a>
    <hr>
    <a routerLink="/fourth">Go to Fourth</a>
    <hr>
    <a routerLink="/customer">Go to Customer (LoadChildren)</a>
  </div>
</div> -->

<button (click)="modifyFromControl()">Modify From Control</button>
<input type="text" [formControl]="testProp" name="testProp">

{{testProp.value}}
<br>
<hr>
<label>
  First Name:
  <input type="text" formControlName="firstName" >
</label>
<hr>
<label>
  Last Name:
  <input type="text" formControlName="lastName">
</label>
<hr>
<label>
  Password:
  <input type="password" formControlName="password">
</label>

<button (click)="showFormGroup()">Show Form Group</button>


  <router-outlet></router-outlet>
<!--<div class="split right">
  <div class="centered">
    <router-outlet></router-outlet>
  </div>
</div>-->

